@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000;
    min-height: 100vh;
    color: #fff;
}

/* NAVIGATION BAR */

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;
    animation:  fade-down 1s;
    z-index: 100000;
    color: #fff;
}

nav.sticky{
    padding: 5px 80px;    
    background: #fff;
    color: #000;
}

nav .logo {
    position: relative;
    width: 50px; 
    height: 50px; 
    background-image: url('images/5logo_white.png'); 
    background-size: cover;
    text-indent: -9999px;
    transition: 0.6s;
}

nav.sticky .logo {
    background-image: url('images/5logo_black.png'); 
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    position: relative;
    list-style: none;
}

nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.6s;
}

nav ul li a:hover{
    color: cyan;
}


nav.sticky ul li a{
    color: #000;
}
nav.sticky ul li a:hover{
    color: cyan;
}

nav .menu{
    height: 25px;
    filter: invert(100%);
}

nav.sticky .menu{
filter: invert(0%);
}

.chckbtn{
    font-size: 30px;
    display: none;
    cursor: pointer;
}

#check{
    display: none;
}

/* home-banner */
.home-banner {
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('images/back-paper.png');
    background-size: cover; 
    background-position: top;
    height: 95vh;
}

.home-banner > div {
    margin-left: 200px;
    text-align: start;
    max-width: 800px; 
}

.home-banner > div p{
    color: #a8a8a8;
    animation:  fade-down 1s;
}

.head{
    font-size: 40px;
}

.book-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 80px;
    font-size: 16px;
    text-align: left; 
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white; 
    color: white;
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s; 
    animation:  fade-down 1s;
}

.book-btn:hover{
    background-color: white;
    color: #000;
}

/* WHAT WE DO */
.wedo{
    padding: 0px 20px;
}

.wedo .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wedo .column h1{
    font-size: 30px;
}


.wedo .column p{
    width: 50%;
    color: #a8a8a8;
}


.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card{
    background-color: #111111;
    padding: 10px 0;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover::after{
    width: 225%;
    top: -100%;
}

.card i{
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 10px 0;
    color: rgba(225, 225, 225, 0.6);

}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: cyan;

}

.card:hover i{
    color: cyan;

}
.card:hover .btn{
    background-color: cyan;
    color: black;
    cursor: pointer;
}

.service-wrapper{
    padding: 5% 8%;
}

.btn{
    padding: 10px 50px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}
/* SLIDE ANIMATION */
.from-left{
    grid-column: 2 / 3;
    transform: translateX(-10%);
}

.from-right{
    grid-column: 3 / 4;
    transform: translateX(10%);
}

.from-left,
.from-right {
    opacity: 0;
    transition: opacity 400ms ease-in-out, transform 1s ease-in-out;
}

.from-left.appear,
.from-right.appear{
    opacity: 1;
    transform: translateX(0);
}
/* REVEAL EFFECT */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all .6s ease-in-out;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* FEATURES */
.features .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fcolumn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
    
}

.fcard{
    width: 500px;
    padding: 20px 40px;
    background-color: #111111;
    display: flex;
    border-radius: 10px;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.fcard h2{
    color: #fff;
    font-size: 20px;
}
.fcard p{
    color: #a8a8a8;
    font-size: 15px;
}

/* ABOUT US */
.aboutus{
    padding: 100px;
}

.aboutus .column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus .column .aboutcontent{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

.aboutus .column .aboutcontent .column{
    align-items: start;
}
.aboutus .column .aboutcontent .column p{
    margin-bottom: 10px;
    color: #a8a8a8;
}

.aboutus .column .aboutcontent .column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.building{
    width: 40%;
    margin-right: 20px;
}

/* FAQ */
.faq{
    padding-bottom: 100px;
    padding-top: 20px;
}

.faq .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 30px;
}

h2{
    color: #a8a8a8;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.accd-grid{
    display: flex;
    flex-direction: row;
}

.first-acc{
    margin: 10px;
}
.second-acc{
    margin: 10px;
}
.accordion{
    margin: 0px auto;
    width: 600px;
    margin: 10px 0;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #111111;
    box-shadow: 6px 6px 10px -1px rgba(255, 255, 255, 0.2), 
                -6px -6px 10px -1px rgba(0, 0, 0, 0.25);
}

.accordion li label{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.accordion label::before{
    content: '+';
    margin: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion .content{
    color: #a8a8a8;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.5s, padding 0.5s;
}

.accordion .content p a{
    color: #0166fe;

}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

input[type="radio"]:checked + label::before{
    content: '-';
}

/* FOOTER */

.footer{
    padding-top: 20px;
    background-color: #53535360;
    display: flex;
    flex-direction: column;
    color: white;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.row-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;

}

.footer .row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo2{
    height: 30px;
    width: 30px;
}

.iconrow{
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    flex-direction:row;
    align-items: start;
}

.sicon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.sicon:hover {
    filter: hue-rotate(180deg); 
    transform: translateY(-8px);
    transition: .6s;
}
.clmn-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text{
    font-weight: 100;
}
.more li{
    list-style: none;
}


.more li a {
    text-decoration: none;
    color: #fff;
}

.more li a:hover{
    color: cyan;
}
.footer .row p {
    font-size: 13px;
    color: white;
}
.footer .row p a{
    color: white;
}
.footer .row p a:hover{
    color: cyan;
}  

/* CONTACTS */

.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .icon{
    min-width: 50px;
    height: 50px;
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size: 22px;
}
.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactForm{
    padding: 10px 0;
    margin-left: 10px;
}
.contactForm h2{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;

    margin-top: 0;

}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    resize: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #dadada;
} 
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:white;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
        width: 100px;
        background-color: transparent;
        transition: 0.6s;
        color: white;
        border: 1px solid white; 
        cursor: pointer;
}
.contactForm .inputBox input[type="submit"]:hover{
    width: 100px;
    background-color: white;
    transition: 0.6s;
    color: black;
    border: 1px solid white; 
    cursor: pointer;
}

.alert{
    width: 100%;
    background-color: rgba(0, 255, 106, .3);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 900;
    display: none;
    margin-bottom: 20px;
}

/* COOKIE */
.cookie{
    width: 100%;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    color: black;
    background-color: white;
    z-index: 1;
    display: none;
}

.cookies{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cookies a{
    color: cyan;
    font-weight: 500;
    text-decoration: none;
}

.cookie-btn{
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black; 
}

.cookie-btn:hover{
    border: 1px solid white;
    background-color: black;
    color: white; 
}

/* DIALOG */
.dialog{
    padding: 1em;
    max-width: 60ch;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #303030;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fallIn 0.5s forwards ease-in-out;
    display: none;
    & > * {
        margin: 0 0 0.5rem 0;
    }
}


.dialog .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-btns{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.dialog .row h1{
    font-size: 20px;
}
.dialog .row i{
    font-size: 1.5rem;
}
.dialog .row i:hover{
    cursor: pointer;
}
.dialog p{
    color: #a8a8a8;
}

.button{
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0166fe;
    color: #fff;
}

.row-btns .close-button{
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #eef1f6;
    color: #000;
}

.button:hover,
.row-btns .close-button:hover{
    cursor: pointer;
    
}

.form h2{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 0;

}

.form .inputBox input, 
.form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    resize: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #777777;
} 
.form .inputBox input:focus ~ span,
.form .inputBox input:valid ~ span,
.form .inputBox textarea:focus ~ span,
.form .inputBox textarea:valid ~ span{
    color:black;
    font-size: 12px;
    transform: translateY(-20px);
}

.form .inputBox input[type="submit"] {
        width: 100px;
        background-color: transparent;
        transition: 0.6s;
        color: white;
        border: 1px solid white; 
        cursor: pointer;
}
.form .inputBox input[type="submit"]:hover{
    width: 100px;
    background-color: white;
    transition: 0.6s;
    color: black;
    border: 1px solid white; 
    cursor: pointer;
}

.sizedbox{
    width: 15px;
}
.sServices{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #eef1f6;

}

.sAlert{
    width: 100%;
    background-color: rgba(0, 255, 106, .3);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 900;
    display: none;
    margin-bottom: 20px;
}

/* PRIVACY POLICY */
.pbanner{
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.pbanner h2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: start;
}

.pbanner ul{
    margin-left: 30px;
}


@keyframes fallIn {
    0% {
        top: 0%; 
        opacity: 0; 
    }
    100% {
        top: 50%; 
        opacity: 1;
    }
}




@media screen and (max-width:1500px) {
    .container{
        width: 100%;
        margin: auto;
    }
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }   
    .fcolumn{
        grid-template-columns: repeat(2,1fr);
    }
    .cookies{
        justify-content: end;
    }
    .cookie{
        padding: 30px 20px;
    }
    
}

@media screen and (max-width:1200px) {
    
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }   
    .aboutus{
        padding: 50px 10px;
    }
    
    .aboutus .column .aboutcontent{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .building{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 858px){
    body{
        width: 100%;
    }

    .from-left{
        grid-column: 2 / 3;
        transform: translateY(-50%);
    }
    
    .from-right{
        grid-column: 3 / 4;
        transform: translateY(50%);
    }

    .fcolumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        
    }

    .fcard{
        width: 90%;
        margin: 0 0px;
        padding: 10px 20px;
    }

    .dialog{
        width: 80%;
    }
    .fcolumn{
        grid-template-columns: repeat(1,1fr);
    }
    .head2 h2{
        width: 450px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }   

    .card a {
        color: cyan;
    }

    .chckbtn{
        display: block;
    }

    
    nav{
        align-items: end;
    }

    nav ul {
        position: fixed;
        align-items: center;
        height: 40vh;
        width: 100%;
        background: #fff;
        top: 70px;
        left: 100%;
        text-align: center;
        flex-direction: column; 
        transition: all .6s;
    }

    nav.sticky ul{
        top: 60px;
    }
    
    nav ul li {
        margin-bottom: 10px; 
    }
    
    nav ul li a {
        color: #000;
        position: relative;
        text-align: center;
        display: block;
        padding: 10px; 
    }

    #check:checked ~ ul{
        left: 0; 
    }

    
    .home-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
    }
    
    .home-banner > div {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        max-width: 800px; 
    }

    /* FOOTER */
    .footer{
        padding: 10px 50px;
    }

    .row-footer{
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .more {
        text-decoration: none;
        color: #fff;
        text-align: center;
        
    }

    /* WHAT WE DO */
    .wedo .column{
        display: flex;
    }
    .wedo .column .service{
        padding: 0 20px;
    }

    /* FAQ */
    .accd-grid{
        flex-direction: column;
        margin: 0 20px;
    }
    .first-acc{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second-acc{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .accordion{
        width: 100%;
    }
    
    .pbanner{
        padding-top: 120px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .contactInfo{
        width: 100%;
    }
    .contactForm{
        width: 100%;
    }
    .contactForm .inputBox input, 
    .contactForm .inputBox textarea{
        max-width: 400px;
    
    }
}


@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
        transition: ease-in-out;
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
        transition: ease-in-out;
    }
}

@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
        transition: ease-in-out;
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
        transition: ease-in-out;
    }
}
